<div class="container">
    <div class="form-container">
        <span>Register</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field>
            <select matNativeControl required aria-placeholder="Choose a role">
                <option value="option">Choose a role</option>
                <option value="option">Teacher</option>
                <option value="option">Student</option>
                <option value="option">Libraian</option>
            </select>
        </mat-form-field>
        <button mat-raised-button>Register</button>
    </div>
</div>